.menu__header {
  height: 56px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #ccc;
  background-color: #041434;
  padding: 12px;
  width: 200px;
}
.menu-icon-img {
  height: 24px;
  width: 24px;
  margin: 0 8px;
}
.menu__header-logo {
  width: 95px;
  margin: 0 8px;
}
@media only screen and (max-width: 1200px) {
  .menu__header-logo {
    display: none;
  }
  .menu__header {
    width: 65px;
  }
}
